<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SE183138">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.lab2.Lab2Activity" />
        <activity android:name=".activity.lab1.Lab1Activity" />
        <activity android:name=".activity.lab3.Lab3Activity" />
        <activity android:name=".activity.lab4.Lab4FacebookActivity" />
        <activity android:name=".activity.lab4.Lab4InstagramActivity" />
        <activity android:name=".activity.lab5.Lab5SignUpActivity" />
        <activity android:name=".activity.lab5.Lab5MainActivity"/>
        <activity android:name=".activity.lab5.Lab5WelcomeActivity"/>
        <activity android:name=".activity.lab6.Lab6LoginActivity"/>
        <activity android:name=".activity.lab6.Lab6MainActivity"/>
        <activity android:name=".activity.lab6.Lab6SignupActivity"/>
        <activity android:name=".activity.lab6.Lab6WelcomeActivity"/>
        <activity android:name=".activity.lab8.Lab8LoginActivity"/>
        <activity android:name=".activity.lab8.Lab8SignupActivity"/>
        <activity android:name=".activity.lab8.Lab8WelcomeActivity"/>
        <activity android:name=".activity.lab8.Lab8ForgotPasswordActivity"/>
        <activity android:name=".activity.lab9.Lab9MapActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>